@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-radius: 0.25rem;
  --ui-container: 90rem;
  --ui-bg: var(--ui-color-neutral-50);
  --ui-text: var(--ui-color-neutral-900);
  --ui-gradient: linear-gradient(135deg, #ffffff 0%, #93c5fd 50%, #2563eb 100%);
}
